html,
body{
    margin:0;
    width:100%;
    height:100%;

}
body{
    
    background-image:url("1.jpg");
   
        
}
.content{
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: center;
    text-align: center;
}

h2{
    color:white;

    margin-top:5vh;
    text-align: center;
    font-family: 'Solway', serif;
     letter-spacing: 11px;
}
.input-item{
    padding:1em;


}
input,
select{
    border:none;
    border-radius: 10px;
    padding:0.7em;
}
input[ type="submit"]
{
    background-color: rgb(131, 13, 13);
    color:white;
    padding:1.2em;

}
input[type="submit"]:hover{
    transform:scale(1.5);
    transition-duration: 0.5s;

}
input[type="submit"]:active{
    box-shadow:0 5px;
    transform:translateY(5px);
}
#inscriere{
    margin:1em;

}
@media only screen and (min-width:768px)
{
    .container{
       
        

        width:35%;
        padding:2.2em;
        text-align: center;
        border-radius: 11px;
        
    }
}