
html, body{
    background-color: black;
    margin:0;
    padding:0;
    border:0;
    font-family: 'Solway', serif;
}
 ul{
        margin:0;
    }

 .mainheader{
    background-image: url(2.jpg);
    background-color: black;
    background-blend-mode:lighten ;
    background-size:cover;
    color:white;
    width:auto;
    height:auto;
    margin:0;
    border:0;
   
    
}
.navi{ padding:1em;
    font-family: 'Solway', serif;
    margin:2em;
    text-decoration: none;
    color: white;
    text-align:center;
    margin:0;  
}
.navi li { 
    display:inline;
    padding:2em;
    font-size:30px;
    text-decoration: none;
    font-weight: 900;
    text-align:center;
    
}
.navi ul li a { 
  
    transition:0.6s ease;
    text-align:center;
    text-decoration: none;
    color: white;
    font-weight: 900;  
}
.titluri{
    transition:0.6s ease;
    padding:2em;
    font-size: x-large;
    margin:0;
    border:0;
    text-align:center;
}
.butonel {
    transition:0.6s ease;
    border-radius: 10px 10px 10px 10px;
    background-color:rgb(128, 41, 0); 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    animation-name: butonmagic;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes butonmagic {
    0%   {background-color:#0099ff;}
    25% {background-color:#cc0000;}
    50%  {background-color:#0099ff;}
    75% {background-color:#cc0000;;}
    100%   {background-color:#0099ff;}
}
/* Muzicienii */
h2{
    padding:10px;
    border-top: 1px solid rgb(131, 13, 13);
    
    
}
.container
{
color:white;
background-image: url(pul.jpg);
text-align:center;
background-size:cover;
border-bottom: 1px solid rgb(131, 13, 13);
padding:20px;
font-family: 'Solway', serif;
font-size:22px;
font-weight: 400;
}

#bruno{
  
    border-radius: 50%;
    height:150px;
    width: 150px;
    display:inline;
    
}
#jadex {
 
    border-radius: 50%;
    height:150px;
    width: 150px;
    display:inline;
    
}

#weekend{
  
    border-radius: 50%;
    height:150px;
    width: 150px;
    display:inline;
    
}
#tyga{
  
    border-radius: 50%;
    height:150px;
    width: 150px;
    display:inline;
  
    
}
#lanadel{

    border-radius: 50%;
    height:150px;
    width: 150px;
    display:inline;
    
}

.outbox{
    margin:40px;
    font-family: 'Solway', serif;
   
    
}

.inbox {transition: 0.6s ease;
    position:relative;
    max-width:600px;
    padding:50px;
    background: rgba(202, 10, 10, 0.5);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    font-family: 'Solway', serif;
    
   
}
.video{
    text-align:right;
    float:right;
    margin:50px;
}
.galerie img{
    border-top: 1px solid rgb(131, 13, 13);
    padding:30px;
    width:350px;
    height:250px;
     border-radius: 50px;
     border:none;
}
.box{border-top: 1px solid rgb(131, 13, 13);
    color:white;
    display:inline;
    text-align: center;
    display:flex;
}
h3{ 
  
    font-size: 40px;
    border-bottom: 1px solid rgb(131, 13, 13);
    text-align: center;
    animation-name: butonmagicus;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
h4{
    font-size: 30px;
     font-family: 'Solway', serif;;

}
h5 {
    text-align: left;
    font-style: italic;
    font-size: 27px;
    color: white;
    margin: 40px;
    width: 760px;
    text-align:justify;
    text-indent: 60px;
    font-weight: bold;
}
@keyframes butonmagicus {
    0%   {color: 	#cc0000;}
    25% {color: #ff3300;}
    50%  {color:	#cc0000;}
    75% {color: #800000	;}
    100%   {color: 	#cc0000;}
}

/*Fotter*/

footer{
    width: 100vw;
    display:block;
    overflow:hidden;
    padding:40px 0;
    background-color: rgba(131, 13, 13,0.7);
    box-sizing:border-box;
    margin: 0%;
    border:0%;
    text-align: center;
}
.navii li { 
    display:inline;
    padding:2em;
    font-size:30px;
    text-decoration: none;
    font-weight: 900;
    text-align:center;
  
}

    .navii{ padding:1em;
        border-bottom: 1px solid rgb(131, 13, 13);
        font-family: 'Solway', serif;
        margin:2em;
        text-decoration: none;
        color: white;
        text-align:center;
        margin:0;  
    }
    
    .navii ul li a { 
      
        transition:0.6s ease;
        text-align:center;
        text-decoration: none;
        color: white;
        font-weight: 900;  
    }
    .pad{
        padding:20px;
    }
    p{   font-family: 'Solway', serif;
        color: white;
    }
    ul{color: white;
        padding: 30px;
        font-family: 'Solway', serif;
    }
    .aliniere{
        text-align: center;
    }